@use "../styles/colors" as colors;

.page {
  max-width: 1440px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
